body {
    color: white;
    background: black;
    font-family: "Bona Nova SC", serif;
    margin-bottom: 100;
}

header {
    border-bottom: solid 2px rgb(163, 33, 98);
    padding: 20px;
    font-size: 32px;
    color: rgb(163, 33, 98);
}

.chamada{
        background: rgb(101, 207, 193)8;
        padding-bottom: 80px;
        padding-top: 80px;
        display: flex;
        justify-content: center;
}

    .chamada-texto {
        margin-right: 7%;
    
    }
h1 {
    font-size:40px;
}

p {
    font-size: 20 px;
}

.categoria-videos{
    display:flex;
    overflow-x: auto;
    gap: 12px;

}

.categoria {
    padding-left:20px;
    padding-right:20px;
    margin-top: 50px;
}

.categoria-videos img {
opacity: 0.5;
height: 230px;
}

.categoria-videos img:hover{
    opacity: 1.0;
    border: 1px solid pink
}
.categoria h2{
  color: rgb(163, 33, 98);
}
